html,body{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    margin: 0 0;
    /* 1em = 16px */
    font-size:0.625em;
}

.head {
    height: 40px;
    width:100%;
    text-align: center;
    font-size: 2.5rem;
}
.content {
    width:60vw;
    margin: 5vh 20vw;
    height: 90vh;
    font-size: 1.2rem;
    overflow-y: auto;
}
.title {
    height: 40px;
    width:100%;
    text-align: center;
    font-size: 1.5rem;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.item {
    margin : 10px 10px;
}
.attributes {
    width:100%;
    min-height: 100px;
    padding: 20px 50px;
}
.value{
    width:150px;
    height:30px;
    color:black;
    font-size: 1.25rem;
}
.input{
    height:30px;
}
.setting{
    width:100px;
}
.custom-button{
    width:auto;
    height:34px;
    border: 1px solid #03a9f4;
    padding: 5px 16px;
    font-size: 1.5rem;
    line-height: 24px;
    font-weight: 500;
    color:white;
    background-color: #03a9f4;
}
#watchers,td,th{
    border:1px solid black;
    border-collapse: collapse
}
.output{
    height: 250px;
    overflow-y: auto
}